.task-box{
  border: 1px solid gray;
  padding: 20px 32px;
  text-align: center;
}

.input-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}